.page-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.page-title {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #00838f;
}

.input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.output {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: solid 0.1em #00838f;
  border-radius: 1em;
  width: 15em;
}

.output-data {
  font-weight: bold;
}

.footer {
  margin-top: 2em;
  text-align: center;
  bottom: 0;
  position: static;
  color: #00838f;
  font-size: 1.1em;
  width: 100%;
}
