.title {
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
}

.inputs {
  margin: 0 auto;
  width: 40%;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.inputs mat-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom-style: none;
  border-bottom: none;
}

.inputs mat-label {
  text-transform: uppercase;
}

.divider {
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  width: 40%;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.outputs {
  margin: 0 auto;
  width: 40%;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.outputs mat-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.5rem;
}

.outputs table tbody tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;
  border-bottom: 0.1rem solid grey;
}

.outputs table tbody tr td:nth-child(1) {
  color: var(--primary-color);
  text-transform: uppercase;
}

.footer {
  text-align: center;
  margin: 2rem 0 1rem 0;
  padding: 1rem 0 0 0;
  bottom: 0;
  color: var(--primary-color);
  font-size: 1.1rem;
  width: 100%;
}

.sig {
  color: var(--primary-color);
  text-align: center;
  margin: 3rem auto 0.5rem auto;
  cursor: pointer;
  width: 8rem;
  &:hover {
    font-weight: bold;
    border-bottom: 0.1rem solid var(--primary-color);
  }
}
