<div class="title">{{ "home.title" | translate }}</div>

<div class="inputs">
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>{{ "home.amount" | translate }}</mat-label>
      <input matInput [formControl]="inputAmount" type="number" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "home.tax_rate" | translate }}</mat-label>
      <input matInput [formControl]="inputTax" type="number" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "home.calculation_type" | translate }}</mat-label>
      <mat-select [formControl]="taxType">
        <mat-option *ngFor="let vat of vats" [value]="vat.value">{{
          vat.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>
<div class="divider">
  <mat-divider></mat-divider>
</div>

<div class="outputs">
  <mat-card>
    <table>
      <tbody>
        <tr>
          <td>{{ "home.amount" | translate }}</td>
          <td>{{ inputAmount.value }}</td>
        </tr>
        <tr>
          <td>{{ "home.tax_rate" | translate }}</td>
          <td>{{ inputTax.value }}</td>
        </tr>
        <tr matToolTip="Value-Added Tax">
          <td>{{ "home.calculation_type" | translate }}</td>
          <td>{{ displayTaxType(taxType.value) }}</td>
        </tr>
        <tr>
          <td>{{ "home.calculated_tax" | translate }}</td>
          <td>
            {{
              showCalculatedTax(
                inputAmount.value,
                inputTax.value,
                taxType.value
              )
            }}
          </td>
        </tr>
        <tr>
          <td>{{ "home.calculated_total" | translate }}</td>
          <td>
            {{
              showCalculatedTotal(
                inputAmount.value,
                inputTax.value,
                taxType.value
              )
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
<div style="margin-top: 0.5rem; text-align: center; color: grey">
  *Forward = AMOUNT <span style="font-weight: bold">+</span> TAX
</div>
<div style="margin-bottom: 0.5rem; text-align: center; color: grey">
  *Reverse = AMOUNT <span style="font-weight: bold">-</span> TAX
</div>

<div class="footer">{{ liveDateTime | date: "medium" }}</div>
